<div class="container">
  <h1>New Event</h1>
  <hr>
  <div class="col-md-6">
    <form #newEventForm="ngForm" (ngSubmit)="savePost(newEventForm.value)" autocomplete="off" novalidate>
      <div class="form-group" [ngClass]="{'error': newEventForm.controls.post_name?.invalid && newEventForm.controls.post_name?.touched}">
        <label for="eventName">Event Name:</label>
        <em *ngIf="newEventForm.controls.post_name?.invalid && (newEventForm.controls.post_name?.touched)">Required</em>
        <input (ngModel)="event.post_name" name="post_name" required id="post_name" type="text" class="form-control" placeholder="Name of your event..." />
      </div>
      <div class="form-group" [ngClass]="{'error': newEventForm.controls.date?.invalid && newEventForm.controls.date?.touched}">
        <label for="eventDate">Event Date:</label>
        <em *ngIf="newEventForm.controls.date?.invalid && (newEventForm.controls.date?.touched)">Required</em>
        <input (ngModel)="event.date" name="date" required id="eventDate" type="text" class="form-control" placeholder="Format mm/dd/yyyy" />
      </div>
      <div class="form-group" [ngClass]="{'error': newEventForm.controls.time?.invalid && newEventForm.controls.time?.touched}">
        <label for="eventTime">Event Time:</label>
        <em *ngIf="newEventForm.controls.time?.invalid && (newEventForm.controls.time?.touched)">Required</em>
        <input (ngModel)="event.time" name="time" required id="eventTime" type="text" class="form-control" placeholder="Eg. 9:00 am - 12:00 pm" />
      </div>
      <div class="form-group" [ngClass]="{'error': newEventForm.controls.price?.invalid && newEventForm.controls.price?.touched}">
        <label for="eventPrice">Event Price:</label>
        <em *ngIf="newEventForm.controls.price?.invalid && (newEventForm.controls.price?.touched)">Required</em>
        <input (ngModel)="event.price" name="price" required id="eventPrice" type="text" type="number" class="form-control" placeholder="event price..." />
      </div>
        <div class="form-group">
          <label for="location">Event Location:</label>
          <em *ngIf="newEventForm.controls.location?.invalid && newEventForm.controls.location?.touched">You must enter the full location or Online Url</em>
          <input (ngModel)="event.location" name="location" id="location" type="text" class="form-control" placeholder="Location of event..." />
        </div>
      <div class="form-group">
        <label for="online_url">Online Url:</label>
        <input (ngModel)="event.online_url" name="online_url" id="online_url" type="text" class="form-control" placeholder="Online Url..." />
      </div>
      <button type="submit" [disabled]="newEventForm.invalid" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>